<div id=contenedor_superior>
	<h1>Comunidad: <%=@comunidad.nombre%> </h1>
</div>
<div id = contenedor_central>
	<ul>
		<li>Comuna: <%=@comunidad.comuna%></li>
		<li>Proyectos: Ver proyectos. Si no tiene decir que no tiene y ofrecer agregar</li>
		<li>Vecinos: Ver Vecinos. Si no tiene agregar vecinos</li>
		<li>Voluntarios: Lo mismo</li>


	</ul>

</div>

